<%-include("partials/_header")%>

<section class="bgimage">
</section>

<h2 class="mt-5 d-flex justify-content-center">Pasteles</h1>
  <hr style="width:50%"></hr>
  
  <!-- Page Content -->
  <div class="container ">
  
    <div class="row text-center text-lg-left mb-5">
      
      <% for(var i =0; i<prod.length;i++) { %>

      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-2">
              <img class="img-fluid img-thumbnail" src=<%="/Imagenes/"+prod[i].categoria+"/"+prod[i].imagen %> alt="">
        </a>
        <p class="text-center font-weight-bold"> <%=prod[i].nombre %></p>
        <p class="text-center"> <%=prod[i].precio %> </p>
        <div class="text-center">
              <button type="button" class="btn btn-primary">Vender</button>
        </div>
      </div>
      <% } %>
  
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="POST">
            
            <div class="form-group">

              <label for="cars" >Categoría:</label>

                <select id="cars" name="categoria">
                  <option value="Pasteles">Pastel</option>
                  <option value="Cupcakes">Cupcake</option>>
                </select>
            </div>

            <div class="form-group">
              <input
                type="text"
                name="nombre"
                placeholder="Nombre"
                class="form-control"
              />
            </div>

            <div class="form-group">
              <textarea
                name="descripcion"
                placeholder="Descripcion"
                class="form-control"
              ></textarea>
            </div>

            <div class="form-group">
              <textarea
                name="precio"
                placeholder="Precio"
                class="form-control"
              ></textarea>
            </div>

            <div class="form-group">
              <textarea
                name="tiempo"
                placeholder="Tiempo"
                class="form-control"
              ></textarea>
            </div>

            <div class="form-group">
              <input type="file" id="myfile" name="imagen">Selecciona Imagen</input>
            </div>

            
            <button type="submit" class="btn btn-primary btn-block">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Tiempo</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i =0; i<prod.length;i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= prod[i].categoria %></td>
                    <td><%= prod[i].nombre %></td>
                    <td><%= prod[i].descripcion %></td>
                    <td><%= prod[i].precio %></td>
                    <td><%= prod[i].tiempo %></td>
                    <td><%= prod[i].imagen %></td>
                    <td>
                        <!--a href="/done/<%=prod[i]._id%>" class="btn <%= prod[i].status ? "btn-success" : "btn-dark" %>">Done</a>
                        <a href="/edit/<%=prod[i]._id%>" class="btn btn-info">Edit</a-->
                        <a href="/delete/<%=prod[i]._id%>" class="btn btn-danger">Delete</a>
                        
                    </td>
                </tr>                
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div-->

<%-include("partials/_footer")%>
